<div class="container-fluid" style="height: 100vh">
  <div class="col-lg-6 col-sm-6 col-xs-6 offset-3">
      <div class="container"><h2>{{{message}}}</h2></div>
      <div class="container"><h1>Dejame tus datos y comentarios</h1></div>
      <hr>
    <form action="contacto" method="post">
          <div class="form-row">
            <div class="form-group ">
              <label for="inputNombres">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" placeholder="Juan" name="nombre">
            </div>

            <div class="form-group ">
              <label for="inputApellido">Apellido</label>
              <input type="text" class="form-control" id="inputApellido" placeholder="Perez" name="apellido">
            </div>

            <div class="form-group ">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="ejemplo@email.com" name="email">
            </div>

            <div class="form-group ">
              <label for="inputTel">Teléfono:</label>
              <input type="number" class="form-control" id="inputTel" placeholder="1234567890" name="tel">
            </div>

            <div class="form-group">
              <label for="inputComent">Comentarios</label>
              <textarea class="form-control" id="inputComent" rows="3" name="coment">
              </textarea>
            </div>
            <div style="height: 10px;"></div>
            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
  </div>
</div>