<div class="container-fluid" style="height: 100vh">
  <div class="col-lg-6 col-sm-6 col-xs-6">
    <div class="mb-4">
      <label
        for="exampleFormControlInput1"
        class="form-label"
        name="nombre"
      >Nombre</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="John"
      />
    </div>
    <div class="mb-4">
      <label
        for="exampleFormControlInput1"
        class="form-label"
        name="apellido"
      >Apellido</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Doe"
      />
      <div class="mb-4">
        <label
          for="exampleFormControlInput1"
          class="form-label"
          name="email"
        >Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="nombre@mail.com"
        />
      </div>
      <div class="mb-4">
        <label
          for="exampleFormControlInput1"
          class="form-label"
          name="tel"
        >Telefono</label>
        <input
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="5493400000"
        />
      </div>
      <div class="mb-4">
        <label
          for="exampleFormControlTextarea1"
          class="form-label"
          name="coment"
        >Deja por aqui tus comentarios</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>

  </div>

</div>