<body id="body">
  <div class="container-fluid" style="height: 100vh">
    <div class="row">
      <div class="col-lg-10 col-sm-10 col-xs-10 offset-1 contact">
        <div>
          <h1>Contacto</h1>
          <div class="mb-3">
            <h2>Deja tu comentario</h2>
            <label for="exampleFormControlInput1" class="form-label">Correo
              Electronico</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label
              for="exampleFormControlTextarea1"
              class="form-label"
            >Comentarios</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <div class="formito">
            <button class="btn btn-secondary">Enviar</button>
            <button class="btn btn-danger">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>