<html>
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/webstyle.css" />

    <title>{{title}}</title>

  </head>
  <body>
    <div class="toptop">
      <img src="images/header.svg" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button
        class="menucito collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        menu
      </button>
      <ul
        class="navegacion navbar-collapse collapse"
        id="navbarSupportedContent"
        data-bs-toggle="collapse"
      >
        <li><a href="/">INICIO</a></li>
        <li><a href="/comics">COMICS</a></li>
        <li><a href="/sobremi">SOBRE MI</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>
    </nav>
    {{{body}}}
    
    <script src="scripts/js/bootstrap.bundle.js"></script>
  </body>
</html>