<body id="body">
  <div class="container-fluid" style="height: 100vh">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 bienvenida">
        <div>
          <h1 style="margin: 10px">TE DOY LA BIENVENIDA</h1>
          <p>
            Antes que nada me presento: soy Gonzalo Gacion, un dibujante
            freelancer. En este sitio encontraras algo de mi trabajo como
            dibujante freelancer. Utilizando los diferentes items en la barra de
            navegacion, podras dirigirte a las diferentes secciones de la pagina
            en la que te muestro algunos comics y algunas ilustraciones que me
            solicitaron.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>