#divcito {
    flex-direction: row;
    display: flex;
}
.atras {
    background-color: lightgoldenrodyellow;
}

.main {
    display: flex;
    flex-flow: column;
}

h1 {
    color: orange;
    font-family:  Helvetica, sans-serif;
    align-self: center;
}

.ta {
    border-radius: 10px;
    font-family: Arial;
    font-size: large;
    max-width: 500px;
    align-self: center;
    text-transform: uppercase;

}

#quedice {
    color: orange;
    font-family: Helvetica;
    font-weight: bold;
    align-self: center;
}



/* Ejercicio 1 Modulo 2*/
.cuadrado1 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    margin: 2px;
}
.cuadrado2 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: blue;
    border: 2px solid black;
    margin: 2px;

}
.cuadrado3 {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(0, 255, 13);
    border: 2px solid black;
    margin: 2px;

}

.bodyc {
    background-color: aliceblue;

}

.bodyc.fond1 {
    background-color: rgb(155, 27, 27);
    color: bisque;
}
.bodyc.fond2 {
    background-color: rgb(27, 95, 155);
    color:bisque;

}
.bodyc.fond3 {
    background-color: rgb(27, 155, 38);
    color:bisque;

}