<body>
  <header>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="bi bi-three-dots"></i>
      </label>
      <ul>
        <li><a href="/"><i class="bi bi-book"></i>Catalogo</a></li>
        <li><a href="/quienesSomos"><i class="bi bi-person"></i>Quienes somos</a></li>
        <li><a href="/contacto"><i class="bi bi-envelope"></i>Contacto</a></li>
      </ul>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/banner.svg" alt="Imgchela" width="100%" />
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row seccion-secundaria">
      <hr>
      <div class="bienvenida">
        <h1>Te damos la bienvenida a Casa Nueva!</h1>
        <p>Tal y como dice el titulo, te damos la bienvenida a nuestra pagina web. Te invitamos a recorrer las
          diferentes secciones para que puedas conocer nuestro trabajo, quienes somos y si queres, hasta te podes
          encargar un mueble. Somos Casa Nueva y creamos muebles a medida para tu hogar con la mejor calidad y precio.
        </p>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>





  </div>

</body>