<body>
    <header>

        <a href="#" class="logo">
            <img src="/images/LOGOTIPO.svg" alt="logo">
        </a>
        <nav class="navbar navbar-expand-lg navbar-dark">
             {{!-- <button class="menucito collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                menu
            </button>  --}}
            <ul class="navbar-collapse collapse" id="navbarSupportedContent" data-bs-toggle="collapse">
                <li><a href="#"><i class="bi bi-cart carrito"></i>Carrito</a></li>
                <li><a href="/admin/login"><i class="bi bi-person"></i>Mi cuenta</a></li>
                <li><a href="#"><i class="bi bi-envelope"></i>Contacto</a></li>
            </ul>
        </nav>

    </header>

    <div class="container-fluid">
        <div class="row">
            <div style="height: 150px;"></div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active carrouselito">
                        <img src="/images/carousel/mueble1.svg" class="w-100" alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carousel/mueble2.svg" class="w-100" alt="..." />
                    </div>

                </div>
            </div>
            <h1>Compra nuestros muebles de manera rapida y segura</h1>
            <div style="height: 150px;"></div>
            <section class="zona1">
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="width: 18rem">
                            <img src="https://onubaweb.es/wp-content/uploads/2021/03/media-query-bootstrap.png"
                                class="card-img-top" alt="boostrap" />
                            <div class="card-body">
                                <h5 class="card-title">Tarjeta 1 Boostrap</h5>
                                <p class="card-text">
                                    Escribiendo un poco de texto para la tarjeta.
                                </p>
                                <a href="#" class="btn btn-primary">Seguir enlace</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem">
                            <img src="https://onubaweb.es/wp-content/uploads/2021/03/media-query-bootstrap.png"
                                class="card-img-top" alt="boostrap" />
                            <div class="card-body">
                                <h5 class="card-title">Tarjeta 1 Boostrap</h5>
                                <p class="card-text">
                                    Escribiendo un poco de texto para la tarjeta.
                                </p>
                                <a href="#" class="btn btn-primary">Seguir enlace</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem">
                            <img src="https://onubaweb.es/wp-content/uploads/2021/03/media-query-bootstrap.png"
                                class="card-img-top" alt="boostrap" />
                            <div class="card-body">
                                <h5 class="card-title">Tarjeta 1 Boostrap</h5>
                                <p class="card-text">
                                    Escribiendo un poco de texto para la tarjeta.
                                </p>
                                <a href="#" class="btn btn-primary">Seguir enlace</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem">
                            <img src="https://onubaweb.es/wp-content/uploads/2021/03/media-query-bootstrap.png"
                                class="card-img-top" alt="boostrap" />
                            <div class="card-body">
                                <h5 class="card-title">Tarjeta 1 Boostrap</h5>
                                <p class="card-text">
                                    Escribiendo un poco de texto para la tarjeta.
                                </p>
                                <a href="#" class="btn btn-primary">Seguir enlace</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem at
                perferendis obcaecati temporibus nesciunt quasi, minus eius modi vero excepturi quis quia eum veritatis
                delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem
                at
                perferendis obcaecati temporibus nesciunt quasi, minus eius modi vero excepturi quis quia eum veritatis
                delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem
                at
                perferendis obcaecati temporibus nesciunt quasi, minus eius modi vero excepturi quis quia eum veritatis
                delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem
                at
                perferendis obcaecati temporibus nesciunt quasi, minus eius modi vero excepturi quis quia eum veritatis
                delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem
                at
                perferendis obcaecati temporibus nesciunt quasi, minus eius modi vero excepturi quis quia eum veritatis
                delectus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam optio aliquid omnis quod rem
                at
                
            </section>
            <footer>maxijuarez</footer>

        </div>
    </div>

    <script type="text/javascript">
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("abajo", window.scrollY > 0);
        })
    </script>



</body>

</html>