<header>
    <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="bi bi-three-dots"></i>
        </label>
        <ul>
            <li><a href="/"><i class="bi bi-house"></i>Inicio</a></li>
            <li><a href="/quienesSomos"><i class="bi bi-person"></i>Quienes somos</a></li>
            <li><a href="/contacto"><i class="bi bi-envelope"></i>Contacto</a></li>
        </ul>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/quienessomosbanner.svg" alt="Imgchela" width="100%" />
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row seccion-primaria">
        
        <div class="card cardNB">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="/images/nb.jpg" class="img-fluid rounded-start" width="100%" alt="...">
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Hola!</h5>
                        <p class="card-text">Soy Nicolas Bastia. Farbico muebles para crear espacios unicos. Durante
                            mucho tiempo me capacite para trabajar con los mejores materiales y asi crear muebles a
                            medida para el hogar. Junto a mi equipo estamos ofreciendo la mejor calidad de muebles a
                            precios increiblemente accesibles. Nuestro taller se encuentra en la ciudad de Rosario en
                            zona Centro, podes visitarlo con cita previa ya que no contamos con local al publico. Sin
                            mas que decir, te invito a que recorras nuestra pagina y conozcas nuestro trabajo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>