<header>
    <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="bi bi-three-dots"></i>
        </label>
        <ul>
            <li><a href="/"><i class="bi bi-house"></i>Inicio</a></li>
            <li><a href="/quienesSomos"><i class="bi bi-person"></i>Quienes somos</a></li>
            <li><a href="/contacto"><i class="bi bi-envelope"></i>Contacto</a></li>
        </ul>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/quienessomosbanner.svg" alt="Imgchela" width="100%" />
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row seccion-primaria">

        <div class="card cardNB">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="/images/nb.jpg" class="img-fluid rounded-start" width="100%" alt="...">
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Hola!</h5>
                        <p class="card-text">Soy Nicolas Bastia. Farbico muebles para crear espacios unicos. Durante
                            mucho tiempo me capacite para trabajar con los mejores materiales y asi crear muebles a
                            medida para el hogar. Junto a mi equipo estamos ofreciendo la mejor calidad de muebles a
                            precios increiblemente accesibles. Nuestro taller se encuentra en la ciudad de Rosario en
                            zona Centro, podes visitarlo con cita previa ya que no contamos con local al publico. Sin
                            mas que decir, te invito a que recorras nuestra pagina y conozcas nuestro trabajo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Donde estamos?</h1>
                </div>
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d419.0954016580831!2d-60.65167508191688!3d-32.952986001797214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab1335d90541%3A0xeed2f1d830d645bb!2sZeballos%20%26%20Dorrego%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1638325304398!5m2!1ses-419!2sar"
                        allowfullscreen="" loading="lazy" class="mapita"></iframe>
                </div>
                <div class="col-md-6">
                    <h2>Nos encontramos cerca de Zona Centro. Podras identificar nuestro local en la interseccion
                        Dorrego y Zeballos.</h2>
                </div>
            </div>
        </div>


    </div>
</div>