<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar</h4>
            <form method="post" action="/admin/muebles/modificar">
                <input type="hidden" value="{{mueble.id}}" name="id">
                <div class="form-group">
                    <input type="text" placeholder="nombreMueble" value="{{mueble.nombreMueble}}" class="form-control" name="nombreMueble">
                </div>
                <div class="form-group">
                    <textarea name="descripcionMueble" placeholder="descripcionMueble" class="form-control"></textarea>
                </div>
                <div class="form-group">

                </div>
            </form>
        </div>
    </div>
</div>
{{#if error}}
<h5>{{message}}</h5>
{{/if}}