<h1>NOVEDADES</h1>
<h1>Bienvenido</h1>
<span>{{usuario}}</span>
<a href="/">Ir al inicio</a>
<a href="/admin/login">volver al login</a>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Hola {{usuario}}</p>
            <a href="/admin/login">volver al login</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>