<h1>NOVEDADES</h1>
<h1>Bienvenido</h1>
<span>{{usuario}}</span>
<a href="/">Ir al inicio</a>
<a href="/admin/login">volver al login</a>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Hola {{usuario}}</p>
      <a href="/admin/login">volver al login</a>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col text-right">
      <a href="/admin/novedades/agregar" class="btn btn-success">
        <i class="fa fa-plus"></i>Nueva novedad</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mueble</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mesita</td>
            <td class="text-center">
              <a href="#" class="btn btn-sm btn-secondary">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="#" class="btn btn-sm btn-secondary">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>