<div class="container">
  <div class="row row-formito">
      <h3>Registro</h3>
    <div class="col-md-6 formu">
      <div class="col-md-12">
        <form class="form">
          <div class="form-group">
            
          </div>
          <div class="form-group">
            
          </div>
          <div class="form-group">
            
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>