<div class="container">
  <div class="row content">
    <div class="textocontacto">
      <h1>Resgistro de usuario</h1>
    </div>
    <div class="col-md-6">
      <div class="col-contacto">
        <img src="/images/logo.svg" alt="logod" width="50%" />
        <h1>CASA NUEVA</h1>
      </div>
    </div>

    <div class="col-md-6 form-contacto">
      <form action="contacto" method="post">
        <div class="form-row">
          <div class="form-group ">
            <label for="inputNombres">Nombre</label>
            <input type="text" class="form-control" id="nombreReg" placeholder="Juan" name="nombre">
          </div>

          <div class="form-group ">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="apellidoReg" placeholder="Perez" name="apellido">
          </div>

          <div class="form-group ">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="mailReg" placeholder="ejemplo@email.com" name="email">
          </div>

          <div class="form-group ">
            <label for="inputTel">Teléfono:</label>
            <input type="number" class="form-control" id="telReg" placeholder="1234567890" name="tel">
          </div>


          <div style="height: 10px;"></div>
          <button type="submit" class="btn btncontacto">Registrar</button>
      </form>
      <div>
        <p>{{{message}}}</p>
      </div>
    </div>
  </div>
</div>