h1 {
    color: darkred;
    font-family: Helvetica;
}

section {
    font-family: 'Lucida Sans';
}

h3 {
    color: brown;
}

li {
    color: brown;
}

#datoscontacto {
    color: darkred;
    font-size: large;
}

img {
    border: 2px solid rgb(211, 189, 156);
    border-radius: 4px;
    width: auto;
}

#body {
    padding: 10px;
    background-color:rgb(211, 189, 156);
    flex-direction: row;
}

p {
    text-align: justify;
}

#divfoto {
    flex-direction: row;
    background-color: brown;
    padding: 10px;
}

#separa {
    height: 20px;
    margin-top: 20px;
}

#datospersonales {
    color: brown;
}

#contacto {
    background-color:rgb(211, 189, 156);
}

hr {
    border-color: brown;
    width: 75%;
    align-self: center;
}









